$primary-color: #363565;
$primary-light-color: #5a5980;
$secondary-color: #e95060;
$secondary-light-color: #e96f7c;
$light-orange-color:#F08D97;
$teriary-color: #4a9d77;
$teriary-light-color: #6aad8e;
$white-color: #ffff;