$bg-color:#1F1F1F;
$primay:#ffca29;
$light-yellow:#e5b626;
$dark-yellow:#bd9533;





$primary-light-bg-color: #5a5980;
$secondary-bg-color: #e95060;
$secondary-light-bg-color: #e96f7c;
$light-orange-color:#F08D97;
$teriary-bg-color: #4a9d77;
$teriary-light-bg-color: #6aad8e;